<h1>Hello, <%=@patient.name%></h1>
<br>
These are your appointments that you have scheduled: <br>
<ul>
    <%@patient.appointments.each do |app|%>
        <li>
            <%=app.appointment_datetime.strftime("%B %d, %Y at %k:%M")%> with: <%=link_to app.doctor.name, doctor_path(app.doctor)%>
        </li>
    <%end%>
</ul>